body{
    display: flex;
    justify-content: center;
}

.post_main{
    width:700px;
    border: 1px solid black;
    padding: 10px;
    height: 1500px;
}


.post_header{
    display: flex;
    height: 30px;
    margin-bottom: 30px;
    justify-content: space-between;
    
}

.post_mem_info{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}

.post_mem_profile{
    border: 1px solid black;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post_mem_nickname{
    font-size: 14px;
}

.post_time{
    /* border: 1px solid black; */
    font-size: 14px;
    line-height: 30px;
}

.post_time p{
    display: inline;
}