<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
Hi!
<div class="head">

</div>

<section class="post_header">
  <div >
    <div class="posting_user">

    </div>
    <div class="post_time">

    </div>
  </div>

  <div class="post_main">
    <div class="post_title">

    </div>

    <div class="post_info">

    </div>

    <div class="post_tag">

    </div>
  </div>


  <div class="view_info">
    <div class="view_cnt">

    </div>
    <div class="comment_cnt">

    </div>
    <div class="like_cnt">

    </div>
    <div class="report">

    </div>
  </div>

</section>

<section class="comments">
  <div class="comment_header">
    <div class="comment_cnt">

    </div>
    <div class="comment_refresh">

    </div>
  </div>

  <div class="comment_main">
    <div class="comment_profile">

    </div>
    <div class="comment_aside">

    </div>
    <div class="comment_info">

    </div>
    <div class="comment_footer">

    </div>

  </div>
</section>

<section class="comment_register">
  <div class="comment_input">

  </div>
  <div class="comment_input_footer">
    <div class="comment_register_btn">

    </div>
  </div>
</section>

<div class="return">
  <div class="return_btn">

  </div>

</div>

</body>
</html>